
img {
     width: 200px;
}
body {
     background-image:url(http://mirror2.cze.cz/textures/water-texture-3.jpg) ;
     background-color: lightblue;
     text-align: center;
     font-family: "Times New Roman"
}